[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask-socketio = "*"
flask = "*"
eventlet = "*"
numpy = "*"
matplotlib = "*"
opencv-python = "*"
pillow = "*"

[requires]
python_version = "3.6"
